@charset "UTF-8";
/*variables*/
/*imports*/
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr; }

.logos {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr; }

.color--menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.lineaGris {
  display: flex; }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%; }

.cuadros {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .cuadros div {
    display: grid;
    grid-template-rows: repeat(3, 1fr); }

footer section {
  display: grid;
  grid-template-rows: 1fr auto; }

.separadores {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .separadores article {
    display: grid;
    grid-template-rows: repeat(3, auto); }

.redes {
  display: grid;
  grid-template-rows: repeat(2, auto); }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*colores y decoración, personalizacion propia de pagina*/
.barraBusqueda {
  background-color: rgba(247, 247, 247, 0.973);
  border-color: #c4c4c4; }

header {
  background-color: white; }

.nav a {
  color: #646464; }
  .nav a:hover {
    color: white;
    background-color: black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }

.botonBuscar {
  background-color: rgba(247, 247, 247, 0.973);
  border-color: rgba(119, 119, 119, 0.897);
  color: black; }

.color--menu {
  background-color: #dce7db;
  background-image: linear-gradient(to right, #edf3ec, #89c46d); }
  .color--menu a {
    color: black;
    background-color: #dddddd;
    border-right: solid 2px white;
    border-left: solid 2px white; }
    .color--menu a:hover {
      background-color: black;
      color: white; }

.lineaGris {
  background-image: linear-gradient(to right, #adacac, #e2e2e2); }

.linea {
  color: rgba(51, 170, 40, 0.93);
  border-bottom: 1px solid rgba(77, 77, 77, 0.856); }

.destacadosOfertas {
  color: rgba(51, 170, 40, 0.93); }
  .destacadosOfertas a {
    color: rgba(51, 170, 40, 0.93); }
    .destacadosOfertas a:hover {
      color: black; }

.cuadros {
  background-color: rgba(46, 255, 27, 0.199);
  border: solid 1px #cecfce; }
  .cuadros:hover {
    color: white;
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); }

h2 a {
  color: #505050; }
  h2 a:hover {
    color: white; }

footer {
  background-color: black; }

.nav-item {
  transition: all 0.1s; }
  .nav-item:hover {
    background-color: #033807; }
  .nav-item a {
    color: black; }
    .nav-item a:hover {
      color: white;
      text-decoration: underline; }

@media screen and (min-width: 700px) {
  .btn {
    visibility: hidden; }
  .boton {
    visibility: hidden; } }

@media screen and (max-width: 700px) {
  .carrusel {
    width: 100%;
    height: 18rem; }
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    align-items: center; }
  .separadores article {
    display: grid;
    grid-template-rows: 1fr auto;
    font-size: 75%; }
  .redes {
    font-size: 75%; }
  .redes img {
    width: 50%; }
  .logos {
    display: grid;
    grid-template-columns: 70% 15% 15%; }
  .barraBusqueda {
    position: fixed;
    width: 38%;
    height: 3.5%; }
  .botonBuscar {
    position: fixed;
    height: 3.8%;
    width: 10%; }
  .color--menu a {
    font-size: 70%;
    visibility: hidden; }
  nav.color--menu {
    visibility: hidden; }
  .lineaGris {
    background-color: #c4c4c4;
    width: 100%;
    height: 3%;
    visibility: hidden; }
  .nosotrosImg {
    height: 90%;
    width: 100%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%; }
  .nosotros {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    font-size: 100%; }
  div .nosotros--texto {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    font-size: 100%;
    text-align: center; }
  .espacio--uno {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0%; }
  .contenedores {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 85%;
    width: 85%;
    background-color: rgba(46, 255, 27, 0.13);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .destacadosOfertas {
    margin-top: 5%; }
  .galeria {
    margin-bottom: 3%; }
  nav ul.nav {
    display: flex;
    position: relative; }
  .iconoUno {
    margin-bottom: 2%; } }

/*header*/
/*menu nav bootstrap*/
header {
  grid-area: header;
  position: sticky;
  top: 0px;
  z-index: 2; }

.nav a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 85%;
  text-decoration: none; }
  .nav a:hover {
    font-size: 100%;
    text-decoration: underline; }

/*imagenes "logo, login,y carrito de compras*/
.iconoUno {
  width: 8rem;
  height: 4rem; }

.menuHamburguesa {
  margin-top: 25%;
  width: 2rem;
  height: 2rem; }

.login {
  width: 3rem;
  height: 3rem;
  justify-self: end;
  align-self: center; }

.compras {
  width: 3rem;
  height: 3rem;
  justify-self: start;
  align-self: center; }

.barraBusqueda {
  width: 40%;
  position: fixed;
  top: 16%;
  left: 25%; }

.botonBuscar {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 16%;
  left: 65%; }

.color--menu {
  justify-items: center; }
  .color--menu a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s; }

.lineaGris {
  width: 100%;
  height: 4%;
  top: 100px; }

/*comienzo hacer el main acá, puse todo el main dentro de un div*/
.carousel-inner {
  z-index: -2; }

.carousel-indicators {
  z-index: 0; }

.linea {
  width: 100%; }

.destacadosOfertas {
  font-family: Arial, Helvetica, sans-serif; }
  .destacadosOfertas a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    transition: all 0.5s; }
    .destacadosOfertas a:hover {
      font-size: 110%;
      text-decoration: underline; }

.cuadros {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1%;
  margin-right: 1%;
  transition: all 0.3s; }
  .cuadros:hover {
    width: 97%;
    height: 100%; }

.imgCel {
  width: 170px;
  height: 215px;
  margin-left: 10px; }

.cuadros div {
  justify-self: center;
  align-items: center;
  justify-content: center; }

h2 a {
  text-decoration: none;
  font-size: 85%;
  text-decoration: underline; }

.h3_precio {
  justify-self: center;
  align-self: center;
  text-decoration: line-through;
  transition: all 0,3s; }

h3 {
  justify-self: center;
  align-self: center; }

/*comienzo hacer el footer acá, separe el section en 2 divs*/
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  margin-top: 1%; }

.separadores {
  align-items: center;
  justify-items: center; }
  .separadores article {
    justify-items: center; }

.redes {
  justify-content: flex-end;
  align-items: center;
  align-content: center; }
  .redes h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%; }
  .redes img {
    width: 50%; }

article h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; }

.nav-item {
  transition: all 0.01s; }
  .nav-item .nav-item a:hover {
    text-decoration: underline; }
