/*mapas-->acá creare los mapas con map-get*/
$mapa-colores:(
    blancoBarra:rgba(247, 247, 247, 0.973),
    blanco: white,
    blancoMenu:rgb(220, 231, 219),
    bancoMenuAnclas:rgb(221, 221, 221),
    grisBorde: rgba(196, 196, 196, 80%),
    gris:rgb(146, 146, 146),
    negro: black,
    negroHover:rgba(0, 0, 0, 0.25),
    gradienteMenu1:rgb(237, 243, 236),
    gradienteMenu2:rgb(137, 196, 109),
    lineaGris1:rgb(173, 172, 172),
    lineaGris2:rgb(226, 226, 226),
    destacadosVerde:rgba(51, 170, 40, 0.93),
    verdecuadro:rgba(46, 255, 27, 0.199),
    bordeGris--cuadro:rgb(206, 207, 206),
    Box--shadow:0px 4px 4px rgba(0, 0, 0, 0.25),
    tituloCelular-Anclas:rgb(80, 80, 80),
    verdeFondo--Ham:rgb(3, 56, 7),
    gristrasparente: rgba(255, 255, 255, 0.56),
    hoverformulario: rgba(157, 206, 134, 0.212),
    borde-color:rgba(157, 206, 134, 0.411),

    );

/*colores y decoración, personalizacion propia de pagina*/
.barraBusqueda{
    background-color:map-get($mapa-colores,blancoBarra);
    border-color: map-get($mapa-colores,grisBorde);
}
header{
    background-color: map-get($mapa-colores,blanco);
}
.nav-items a{
    color: map-get($mapa-colores,gris);
        &:hover{
            color: map-get($mapa-colores, blanco);
            background-color: map-get($mapa-colores, negro);
            box-shadow: 0px 2px 2px map-get($mapa-colores,box-shadow);
        }
}
.botonBuscar{
    background-color: map-get($mapa-colores,blancoBarra );
    border-color: map-get($mapa-colores,grisBorde);
    color: map-get($mapa-colores,negro);
}
.color--menu{
    background-color: map-get($mapa-colores,blancoMenu);
    background-image: linear-gradient(to right, map-get($mapa-colores,gradienteMenu1), map-get($mapa-colores,gradienteMenu2));
        a{
            color: map-get($map:$mapa-colores , $key:negro );
            background-color:map-get($mapa-colores,bancoMenuAnclas);
            border-right: solid 2px map-get($mapa-colores,blanco);
            border-left:   solid 2px map-get($mapa-colores,blanco);
                &:hover{
                    background-color: map-get($mapa-colores, negro);
                    color:map-get($mapa-colores,blanco);
                }
        }
}
.lineaGris{
    background-image: linear-gradient(to right, map-get($mapa-colores,lineaGris1), map-get($mapa-colores,lineaGris2));
}
.linea{
    color:map-get($mapa-colores,lineaGris1);
}
.destacadosOfertas{
    color: map-get($mapa-colores ,destacadosVerde);
        a{
            color: map-get($mapa-colores ,destacadosVerde);
                &:hover{
                    color: map-get($mapa-colores,negro);
                }
        }
}
.cuadros{
    background-color:map-get($mapa-colores,verdecuadro); 
    border: solid 1px map-get($mapa-colores, bordeGris--cuadro);
    box-shadow:map-get($mapa-colores, Box--shadow );
    &:hover{
        color: map-get($mapa-colores,blanco);
        background-color: map-get($mapa-colores, negro);
        box-shadow:map-get($mapa-colores, Box--shadow );
    }
}
h2 a{
    color:map-get($mapa-colores,tituloCelular-Anclas);
    &:hover{
        color: map-get($mapa-colores,blanco);
    }
}
footer{
    background-color: map-get($mapa-colores,negro);
}
.nav-item{
    transition: all 0.1s;
    &:hover{
        background-color:map-get($mapa-colores,verdeFondo--Ham);
    }
    a{
        color:map-get($mapa-colores, negro);
            &:hover{
                color:map-get($mapa-colores,blanco);
                text-decoration:underline;
            }
    }
}
.nosotros{
    color:map-get($mapa-colores,negro);
    .texto{
        color:map-get($mapa-colores,negro);
    }
    
}
/*colores para pagina sobre Nosotros*/
.contenedores{
    background-color:map-get($mapa-colores, verdecuadro);
    box-shadow:map-get($mapa-colores, Box--shadow );
        &:hover{
            background-color: map-get($mapa-colores,negro);
            color: map-get($mapa-colores,blanco);
            box-shadow: map-get($mapa-colores, Box--shadow );
            height:95%;
            width: 95%;
        }
}
.cuadroUno{
    background-color:map-get($mapa-colores, gristrasparente);
}
.cuadroDos{
    background:map-get($mapa-colores, blanco );
    box-shadow: map-get($mapa-colores, Box--shadow );
}

/*colores para pagina garantias*/
.line{
    background-color: map-get($mapa-colores, gradienteMenu2);
    height: 2px;
}
.form-control:hover{
    background-color:map-get($mapa-colores, hoverformulario);
    border-color: map-get($mapa-colores, borde-color);
    box-shadow: 0px 1px 1px map-get($mapa-colores,box-shadow);
}
.enviar{
    background-color: map-get($mapa-colores, borde-color);
    border-color: map-get($mapa-colores, borde-color);
    box-shadow: 0px 2px 2px map-get($mapa-colores,box-shadow);
}
.option{
    background-color: map-get($mapa-colores,hoverformulario);
    border-color: map-get($mapa-colores, borde-color);
}
.bloques{
    background-color:map-get($mapa-colores, verdecuadro);
    box-shadow:map-get($mapa-colores, Box--shadow );
    &:hover{
        background-color: map-get($mapa-colores,negro);
        color: map-get($mapa-colores,blanco);
        box-shadow: map-get($mapa-colores, Box--shadow );
    }
}