@import "_mixin";
body{
    display:grid;
    grid-template-areas: 

    "header"
    "main"
    "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.logos{
    display: grid;
    grid-template-columns:3fr 1fr 1fr;
}
.color--menu{
    @include grid-columns(5);
}
.lineaGris{
    display: flex;
}
.galeria{
    @include grid-columns(3);
    gap: 1%;
}
.cuadros{
    @include grid-columns(2);
    div{
        @include grid-rows(3);
    }
}
footer section{
    display: grid;
    grid-template-rows: 1fr auto;
}
.separadores{
    @include grid-columns(3);
    article{
        @include grid-rows-auto(3);
    }
}
.redes{
    @include grid-rows-auto(2);
}