@import "_mixin";
body{
    display:grid;
    grid-template-areas: 

    "header"
    "main"
    "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.logos{
    display: grid;
    grid-template-columns:3fr 1fr 1fr;
}
.color--menu{
    @include grid-columns(5);
}
.lineaGris{
    display: flex;
}
.galeria{
    @include grid-columns(3);
    gap: 1%;
}
.cuadros{
    @include grid-columns(2);
    div{
        @include grid-rows(3);
    }
}
footer section{
    @include grid-rows-auto(1);
}
.separadores{
    @include grid-columns(3);
    article{
        @include grid-rows-auto(3);
    }
}
.redes{
    @include grid-rows-auto(2);
}

/*layout pagina sobre nosotros*/

.espacio{
    @include grid-columns(2);
}

.nosotros{
    display: grid;
    grid-template-columns: auto;
}
.espacio--uno{
    @include grid-columns(3);
}
.contenedores{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

/*layout pagina garantias*/

.fondo{
    display: flex;
}
.cuadroUno{
    display: flex;
}

/*layout pagina contactenos*/

.contenedorGlobal{
    @include grid-columns(2);
    .bloquesGrid{
        @include grid-rows-auto(2);
    }
}

