/*main para la psagina index*/
/*comienzo hacer el main acá, puse todo el main dentro de un div*/

.carousel-inner{
    z-index: -2;
}
.carousel-indicators{
    z-index: 0; 
}
.linea{
    width: 100%;
}
.destacadosOfertas{
    font-family: $fuente-principal;
        a{
            text-decoration: $text-decoration;
            font-family: $fuente-principal;
            font-style: bold;
            transition: all 0.5s;
                &:hover{
                    font-size:110%;
                    text-decoration: underline;
                }   
        }
}
.cuadros{
    font-family: $fuente-principal;
    margin-left: 1%;
    margin-right: 1%;
    transition: all 0.3s;
        &:hover{
            width: 97%;
            height: 100%;
        }
}
.imgCel{
    width:170px;   
    height:215px;
    margin-left: 10px;
}
.cuadros div{
    justify-self: center; 
    align-items: center;
    justify-content: center;
}
h2 a{
    text-decoration: $text-decoration;
    font-size: 85%;
    text-decoration: underline;
}
.h3_precio{
    justify-self: center;
    align-self: center;
    text-decoration: line-through;
    transition: all 0,3s;
    
}
h3{
    justify-self: center;
    align-self: center
}


/*main para la pagina SobreNosotros*/
.tarjeta{
    padding: 2%;
}
.espacio{
    text-decoration:$text-decoration;
}
.nosotrosImg{
    height:90%;
    width: 90%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    &:hover {
        opacity: 0.9;
        filter: alpha(opacity=1);
    }
}
.nosotros{
    margin-top: 10%;
    font-family: $fuente-principal;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all 0.3s;
}
.texto{
    font-family: $fuente-principal;
    font-size: 1.1rem;
    margin-top: 5%;
    line-height: 190%;
    text-align: left    ;
}
.espacio--uno{
    gap: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
.contenedores{
    justify-items: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
        h2{
            text-align: center;
            font-family: $fuente-principal;
            text-decoration: $text-decoration;
            font-weight:bold;
            font-size: 1.5rem;
        }
        p{
            text-align: center;
            font-family: $fuente-principal;
        }
}

/*main para pagina Garantias*/
.fondo{
    background-image: url(../Assets/fondoFormulaio.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 1%;
    height:110%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cuadroUno{
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 45rem;
    left:50%;
    top:2%;
    z-index: 0;
}

.cuadroDos{
    align-items: center;
    width: 90%;
    height: 93%;
    z-index: 1;
    font-family: $fuente-principal;
        .custom-control-input{
            margin-left: 1%;
        }
        legend{
            text-align: center;
            margin-top: 12%;
            margin-bottom: 6%;
            font-weight:bold;
            font-size: 2em;
            transition: all 0.3s;
            &:hover{
                text-decoration: underline;
            }
        }
        .form-group{
            margin-left: 3%;
            margin-right: 3%;
            margin-bottom: 3%;
            .form-control{
                transition: all 0.1s;
                    &:hover{
                        margin-left: 0%;
                        width: 102%;
                    }
            }
            .enviar{
                margin-left: 80%;
                width: 20%;
                border-radius: 5%;
            }   
            textarea{
                width: 100%;
                height: 8em;
            }
        }
}
/*main para pagina Contactenos*/
div .tituloPrincipal{
    margin-top: 3.5%;
    text-align: center;
    font-family:$fuente-principal;
    font-size: 3em;
}
.contenedorGlobal{
    margin-top:2%;
    margin-bottom: 2%;
        .tituloSecundario{
            text-align: center;
            font-family:$fuente-principal;
        }
        .mapa{
            height:90%;
            width: 90%;
            margin-left: 2%;
        }
        .bloquesGrid{
            gap: 6%;
            margin-bottom: 4%;
            margin-left: 5%;
                .bloques{
                    text-align: center;
                    width: 75%;
                    height: 100%;
                    transition: all 0.3s;
                    &:hover{
                        height:100%;
                        width: 95%;
                    }
                }
        }
}

/*main para la pagina Sistema Operativo*/

.grillaGeneral{
    display:grid;
    grid-template-rows: repeat(3, auto);
}
.containerUno{
    display:grid;
    grid-template-rows: repeat(2, auto);
        .apple{
            width: 100%;
        }
}
.columnas{
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.divisiones{
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: $fuente-principal;
    font-size: 1%;
    text-align: start;
        &:hover{
            background-color: black;
            color: white;
        }
        img{
            width: 15rem;
        }
        div{
            display: grid;
            grid-template-rows: repeat(3, auto);
            text-align: start;
                }
                h2{
                    margin-top: 2%;
                    font-size: 2.7rem;
                }
                p{
                    font-size: 1.5rem;
                }
                h3{
                    justify-self: flex-start;
                    font-size: 2.6rem;
                }
    }
.containerDos{
    display:grid;
    grid-template-rows: repeat(2, auto);
        .android{
            width: 100%;
        }
        .ofertasTitulos{
            color:red;
        }
        .titulo_color{
            color:red;
        }
        .samA31{
            width:18rem;
        }
        .samA53{
            width:19rem;
        }
        .motoG30{
            width:22rem;
        }
}
.containerTres{
    display:grid;
    grid-template-rows: repeat(2, auto);
        .windows{
            width: 100%;
        }
        .divDos{
            display: grid;
            grid-template-columns: 1fr 2fr;
            font-family: $fuente-principal;
            text-align: start;
                &:hover{
                    background-color: black;
                    color: white;
                }
                img{
                    width: 15rem;
                }
                div{
                    display: grid;
                    grid-template-rows: repeat(3, auto);
                    text-align: start;
                    h2{
                        margin-top: 2%;
                        font-size: 2.7rem;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                    h3{
                        font-size: 2.6rem;
                        justify-self: flex-start;
                    }   
                }
        }
}
/*main para la pagina Marcas*/
.gridPrincipal{
    display:grid;
    grid-template-rows: repeat(3, auto);
    gap:1%;
        .titulosMarcas{
            margin-top: 5%;
            text-align: center;
            margin-bottom: 2%;
                .tituloDos{
                    font-size: 1.4em;
                }
        }
        .imgMarcas{
            .marcasImg{
                margin-bottom: 1%;
                width: 100%;
                box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        .colorlista{
            padding: 2%;
            background-color: rgba(139, 245, 148, 0.356);
            border-top: solid rgba(0, 0, 0, 0.596);
        }
}
/*main para la pagina gamas*/
.gridGamas{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2%;
        .parteUno{
            display: grid;
            grid-template-columns: 1fr;
            margin-left: 1.5%;
                h2{
                    text-align: center;
                    align-self: center;
                    background-color: rgba(46, 255, 27, 0.199);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    padding: 1%;
                    margin-top: 17%;
                        &:hover{
                            background-color: black;
                            color:white;
                        }
                }
                .gamasUno{
                    width: 98%;
                    height: 25rem;
                    transition: all 0.1s;
                    margin-bottom: 20%;
                        &:hover{
                            width:100%;
                            height: 26rem;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                }
        }
        .parteDos{
            display: grid;
            grid-template-rows: 1fr 2fr 2fr;
            margin-top: 2%;
            gap:2%;
                .gamasGenerales{
                    text-align: center;
                    align-self: end;
                    background-color: rgba(46, 255, 27, 0.199);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin-right: 2%;
                    &:hover{
                        background-color: black;
                        color:white;
                    }
                }
                .video{
                    width: 97%;
                }
                .cuadrotext{
                    align-self: end;
                    background-color: rgba(86, 243, 72, 0.199);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin-right: 2%;
                    margin-bottom: 3%;
                    padding: 2%;
                        &:hover{
                            background-color: black;
                            color:white;
                        }
                        .explicamos{
                            text-align: center;
                        }
                }

        }
}
/*main para la pagina Accesorios*/
.accesoriosCelular{
    text-align: center;
    margin-top: 4%;
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.1s;
        &:hover{
            color: rgba(51, 170, 40, 0.93);
        }
}
.accesorioImg{
    margin-top: 3%;
    width: 100%;
    height: 25rem;
    margin-bottom: 2%;
}
.gridGaleria{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap:2%;
    margin:1%;
    margin-bottom: 4%;
        .contenedoresCuatrouno{
            display:grid;
            grid-template-columns: 1fr 2fr;
            background-color:rgba(46, 255, 27, 0.199);
            box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
            gap:1%;
            padding-top: 2%;
            padding-left: 2%;
            transition: all 0.1s;
            text-align: center;
            &:hover{
                background-color: black;
                color:white;
                }
                .iPhoneGaleria{
                    width:90%;
                }
                .contenedordiv{
                    height: 80%;
                }
        }
        .contenedoresCuatrodos{
            display:grid;
            grid-template-columns: 1fr 2fr;
            background-color:rgba(46, 255, 27, 0.199);
            box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            padding-top: 2%;
            padding-left: 2%;
            gap:1%;
            transition: all 0.1s;
                &:hover{
                background-color: black;
                color:white;
                }
                .aro{
                    width:100%;
                    height:93%;
                }
                .contenedordiv{
                    height: 80%;
                }
        }
        .contenedoresCuatrotres{
            display:grid;
            grid-template-columns: 1fr 2fr;
            background-color:rgba(46, 255, 27, 0.199);
            box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            padding-top: 2%;
            padding-left: 2%;
            padding-bottom: 4%;
            gap:1%;
            transition: all 0.1s;
                &:hover{
                background-color: black;
                color:white;
                }
                .silicona{
                    width:90%;
                }
                .contenedordiv{
                    height: 80%;
                }
        }
        .contenedoresCuatrocuatro{
            display:grid;
            grid-template-columns: 1fr 2fr;
            background-color:rgba(46, 255, 27, 0.199);
            box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            padding-top: 2%;
            padding-left: 2%;
            padding-bottom: 4%;
            transition: all 0.1s;
            &:hover{
                background-color: black;
                color:white;
            }
            .pencil{
                width:100%;
                height:100%;
            }
            .contenedordiv{
                height: 80%;
            }
        }
}
/*main para la pagina Ofertas*/
.tituloOfertas{
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
    font-size: 4.5rem;
    font-weight: bold;
        &:hover{
            color:rgba(51, 170, 40, 0.93);
        }
}
.gridGeneral{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    gap:2%;
    margin:2%;  
}
.contenedorOfertascero{
    display:grid;
    grid-template-columns: 1fr 2fr;
    background-color:rgba(46, 255, 27, 0.199);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 4%;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    transition: all 0.1s;
        &:hover{
            background-color: black;
            color:white;
            width:95%;
        }
        .contenedorinterno{
            display: grid;
            grid-template-rows: repeat(4,1fr);
            gap:6%;
                h2{
                    font-size: 2rem;
                }
                h3{
                    font-size: 1.5rem;
                    text-decoration: line-through;
                }
        }
        .samsungA31{
            width: 100%;
            align-self: center;
            justify-self: center;
        }
}
.contenedorOfertasuno{
    display:grid;
    grid-template-columns: 1fr 2fr;
    background-color:rgba(46, 255, 27, 0.199);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 4%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    transition: all 0.1s;
        &:hover{
            background-color: black;
            color:white;
            width:95%;
        }
    .contenedorinterno{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        gap:6%;
            h2{
                font-size: 2rem;
            }
            h3{
                font-size: 1.5rem;
                text-decoration:line-through;
            }
    }
    .samsungA53{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
}
.contenedorOfertasdos{
    display:grid;
    grid-template-columns: 2fr 1fr;
    background-color:rgba(46, 255, 27, 0.199);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 4%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    transition: all 0.1s;
        &:hover{
            background-color: black;
            color:white;
            width:95%;
        }
    .contenedorinterno{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        gap:6%;
            h2{
                font-size: 2rem;
            }
            h3{
                font-size: 1.5rem;
                text-decoration: line-through;
            }
    }
    .motorolaG30{
        align-self: center;
        justify-self: center;
        width: 100%;
    }
}