/*variables*/
$fuente-principal:Arial, Helvetica, sans-serif;
$text-decoration:none;
/*imports*/
@import "_layouts";
@import "_reset";    
@import "_colores";
@import "_media";
/*header*/
/*menu nav bootstrap*/
header{
    grid-area: header; 
    position: sticky;
    top: 0px;
    z-index: 2;
}
.nav a{
    font-weight: bold;
    font-family: $fuente-principal;
    font-size: 85%;
    text-decoration: $text-decoration; 
        &:hover{
            font-size: 100%;
            text-decoration: underline;
        }
}
/*imagenes "logo, login,y carrito de compras*/
.iconoUno{
    width:8rem;   
    height:4rem;  
}
.menuHamburguesa{
    margin-top: 25%;
    width:2rem;   
    height:2rem;
}
.login{
    width:3rem;   
    height:3rem;
    justify-self: end; 
    align-self: center;
}
.compras{
    width:3rem;   
    height:3rem;
    justify-self: start;
    align-self: center;
} 
.barraBusqueda{
    width: 40%;
    position: fixed;
    top: 16%;
    left: 25%;
}
.botonBuscar{
    font-family: $fuente-principal;
    position: fixed;
    top: 16%;
    left: 65%;
}
.color--menu{
justify-items: center;
    a{
        text-decoration: $text-decoration;
        font-family: $fuente-principal;
        transition: all 0.5s;
    }
}
.lineaGris{
    width: 100%;
    height: 4%;
    top: 100px;
}

/*comienzo hacer el main acá, puse todo el main dentro de un div*/

.carousel-inner{
    z-index: -2;
}
.carousel-indicators{
    z-index: 0; 
}
.linea{
    width: 100%;
}
.destacadosOfertas{
    font-family: $fuente-principal;
        a{
            text-decoration: $text-decoration;
            font-family: $fuente-principal;
            font-style: bold;
            transition: all 0.5s;
                &:hover{
                    font-size:110%;
                    text-decoration: underline;
                }   
        }
}
.cuadros{
    font-family: $fuente-principal;
    margin-left: 1%;
    margin-right: 1%;
    transition: all 0.3s;
        &:hover{
            width: 97%;
            height: 100%;
        }
}
.imgCel{
    width:170px;   
    height:215px;
    margin-left: 10px;
}
.cuadros div{
    justify-self: center; 
    align-items: center;
    justify-content: center;
}
h2 a{
    text-decoration: $text-decoration;
    font-size: 85%;
    text-decoration: underline;
}
.h3_precio{
    justify-self: center;
    align-self: center;
    text-decoration: line-through;
    transition: all 0,3s;
    
}
h3{
    justify-self: center;
    align-self: center
}

/*comienzo hacer el footer acá, separe el section en 2 divs*/
footer{
    font-family: $fuente-principal;
    font-size: 75%;
    margin-top: 1%;
}
.separadores{
    align-items: center;
    justify-items: center;
        article{
            justify-items: center;
        }
}
.redes{
    justify-content: flex-end;
    align-items: center;
    align-content: center;
        h5{
            font-family: $fuente-principal;
            font-size:100%
        }
        img{
            width: 50%;
        }
}
article h4{
    font-family: $fuente-principal;
    font-size:100%;
}
.nav-item {
    transition: all 0.01s; 
        .nav-item a:hover {
            text-decoration: underline;
        }
}
